<form>
  <div class="form-inline">
    <label class="col-sm-2 col-form-label">Utgångspris</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="price" [(ngModel)]="values.price" (change)="onChange()">    
    </div>
  </div>

  <div class="form-inline">
    <label class="col-sm-2 col-form-label">Pantbrev</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="mortgages" [(ngModel)]="values.mortgages" (change)="onChange()">
    </div>
  </div>

  <div class="form-inline">
      <label class="col-sm-2 col-form-label">Kontantinsats</label>
      <div class="col-sm-10">

        <input class="form-control" type="number" max="100" min="0" name="kontantInsatsPercent" [(ngModel)]="values.kontantInsatsPercent" (change)="onChange()">
      </div>
    </div>
</form>

<div class="col-md-8">
  <ul class="list-group">
    <li class="list-group-item">
      Lagfart: {{lagfart}}
    </li>
    <li class="list-group-item">
      Pantbrev: {{pantbrev}}
    </li>    
  </ul>
</div>